<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>504933157454-gs4cgbso8mhn8tefim7lt0bm19p7gj3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504933157454-gs4cgbso8mhn8tefim7lt0bm19p7gj3g</string>
	<key>API_KEY</key>
	<string>AIzaSyAS5ZUO-WgOVb0K0bEU4n-se_cGS2hpaS4</string>
	<key>GCM_SENDER_ID</key>
	<string>504933157454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingapp</string>
	<key>PROJECT_ID</key>
	<string>project-reading-app</string>
	<key>STORAGE_BUCKET</key>
	<string>project-reading-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504933157454:ios:79f7718f23a6a5f1</string>
	<key>DATABASE_URL</key>
	<string>https://project-reading-app.firebaseio.com</string>
</dict>
</plist>